Repository python-pillow/Pillow, pull requests merged in 2019-02, with the labels that each got.

#3620 Added note about ImageDraw operations that exceed image bounds
  docs/reference/ImageDraw.rst
Labels: Documentation

#3640 Fixed typo
  docs/reference/block_allocator.rst
Labels: Documentation

#3628 Deprecate PIL.*ImagePlugin.__version__ attributes
  docs/releasenotes/6.0.0.rst
  src/PIL/BmpImagePlugin.py
  src/PIL/CurImagePlugin.py
  src/PIL/DcxImagePlugin.py
  src/PIL/EpsImagePlugin.py
  src/PIL/FliImagePlugin.py
  src/PIL/FpxImagePlugin.py
  src/PIL/GdImageFile.py
  src/PIL/GifImagePlugin.py
  src/PIL/IcoImagePlugin.py
  src/PIL/ImImagePlugin.py
  src/PIL/ImtImagePlugin.py
  src/PIL/IptcImagePlugin.py
  src/PIL/Jpeg2KImagePlugin.py
  src/PIL/JpegImagePlugin.py
  src/PIL/McIdasImagePlugin.py
  src/PIL/MicImagePlugin.py
  src/PIL/MpegImagePlugin.py
  src/PIL/MpoImagePlugin.py
  src/PIL/MspImagePlugin.py
  src/PIL/PalmImagePlugin.py
  src/PIL/PcdImagePlugin.py
  src/PIL/PcxImagePlugin.py
  src/PIL/PdfImagePlugin.py
  src/PIL/PixarImagePlugin.py
  src/PIL/PngImagePlugin.py
  src/PIL/PpmImagePlugin.py
  src/PIL/PsdImagePlugin.py
  src/PIL/SgiImagePlugin.py
  src/PIL/SunImagePlugin.py
  src/PIL/TgaImagePlugin.py
  src/PIL/TiffImagePlugin.py
  src/PIL/WmfImagePlugin.py
  src/PIL/XVThumbImagePlugin.py
  src/PIL/XbmImagePlugin.py
  src/PIL/XpmImagePlugin.py
Labels: Deprecation

#3584 Seek to IFD offset
  Tests/images/exif-ifd-offset.jpg
  Tests/images/sugarshack_ifd_offset.mpo
  Tests/test_file_jpeg.py
  Tests/test_file_mpo.py
  src/PIL/JpegImagePlugin.py
Labels: Exif

#3648 Test Python 3.8-dev ahead of 3.8.0's expected 2019-10-20 release
  .travis.yml
Labels: Build

#3647 Document deprecated image plugin version constants
  docs/deprecations.rst
Labels: Deprecation, Documentation

#3555 Add TIFF compression codecs: LZMA, Zstd, WebP
  src/PIL/TiffImagePlugin.py
Labels: TIFF

#3667 Use constants for TIFF tag types
  src/PIL/TiffImagePlugin.py
Labels: TIFF

#3655 Deprecate support for PyQt4 and PySide
  Tests/test_imageqt.py
  docs/deprecations.rst
  docs/reference/ImageQt.rst
  docs/releasenotes/6.0.0.rst
  src/PIL/ImageQt.py
Labels: Deprecation
